extends ./base

html
	head
		title= title

block content
	h3 Ergebnisse f&uuml;r Klasse:&nbsp;#{KL}		
	table
		each note in AlleNoten
			tr
				td #{note.antworten.firstname}
				td #{note.antworten.lastname}
				td #{note.antworten.klasse}
				td #{note.antworten.Note}
	a(href='/logout' class='button expanded') Ausloggen
