extends ./base

html
	head
		title= title

block content
	form(action="/saveconfigdata" method="POST")
		div.grid-container
			div(class='grid-x grid-margin-x align-middle')
				div(class="cell")
					h1 Startmen&uuml; - Administrator
				div(class="cell small-5 ")
					h6 Klasse:
				div(class="cell small-7 ")
					select(name="klasse" id='klasse')
							- for (var k in alleKlassen)
									if alleKlassen[k] == aktKl
										option(value=alleKlassen[k] selected)
											=alleKlassen[k]
									else
										option(value=alleKlassen[k])
											=alleKlassen[k]
			div(class='grid-x grid-margin-x align-middle')
				div(class="cell small-5 ")
					h6 Fach:
				div(class="cell small-7 ")
					select(name="fach" id='fach')
							- for (var f in alleFaecher)
									if alleFaecher[f] == aktFach
										option(value=alleFaecher[f] selected)
											=alleFaecher[f]
									else
										option(value=alleFaecher[f])
											=alleFaecher[f]
			div(class='grid-x grid-margin-x align-middle')
				div(class="cell small-5")
					h6 Aufgabe:
				div(class="cell small-7")
					select(name="aufgabe" id='aufgabe')
						- for (var i in alleAufgaben)
								if alleAufgaben[i].aufgabe.path + alleAufgaben[i].aufgabe.filename == aktAufg
									option(value=alleAufgaben[i].aufgabe.path + alleAufgaben[i].aufgabe.filename+'|'+alleAufgaben[i].aufgabe.aufgabentyp name='aufgabe' selected  index=i timer=alleAufgaben[i].aufgabe.zeit_moeglich)
										=alleAufgaben[i].aufgabe.title +' '+alleAufgaben[i].aufgabe.id
								else
									option(value=alleAufgaben[i].aufgabe.path + alleAufgaben[i].aufgabe.filename+'|'+alleAufgaben[i].aufgabe.aufgabentyp name='aufgabe'  index=i timer=alleAufgaben[i].aufgabe.zeit_moeglich)
										=alleAufgaben[i].aufgabe.title +' '+alleAufgaben[i].aufgabe.id
			div(class='grid-x grid-margin-x align-middle' id='zeitsteuerung')
				div(class="cell small-4")
					h6 zeitgesteuert:
				div(class="cell small-1")
					if istZeitgest == 'on'
						input(name='zeitgesteuert' id='zeitgesteuert' type='checkbox' checked)
					else
						input(name='zeitgesteuert' id='zeitgesteuert' type='checkbox')
				div(class="cell small-2")
					input(name='zeit' id='zeit' type='number' value= '#{DauerAnzeige}')
				div(class="cell small-5")
					label(for='zeit') Anzeigedauer in s
			div(class='grid-x grid-padding-x')
					div(class='small-2 cell')
					div(class='small-2 cell')
						input(type="radio" name="uebungOderPruefung" value="uebung" id="uebung" class='xyz' required)
					div(class='small-3 cell')
						label(for="uebung") &Uuml;bung
					div(class='small-2 cell')
						input(type="radio" name="uebungOderPruefung" value="pruefung" id="pruefung" class='xyz')
					div(class='small-3 cell')
						label(for="pruefung") Pr&uuml;fung
			button(type="submit" class="button large expanded" id='starteAufgabe') Bereitstellung der Aufgabe
			button(type='submit' class='button large expanded' formaction='/saveconfigdata_part' value='Zum Notenbuch') Zum Notenbuch
			a(href='/logout' class='button expanded warning') Ausloggen

		script.
				let zgst = $('#aufgabe option:selected').attr('timer');
				if(zgst !== 'ja'){
					$('#zeitsteuerung').hide();
					}else{
					$('#zeitsteuerung').show();
					}
				$('#aufgabe').change(function(){
				//let id = $('#aufgabe option:selected').attr('index');
				let zg = $('#aufgabe option:selected').attr('timer');
				console.log('unne: '+zg);
				if(zg !== 'ja'){
					$('#zeitsteuerung').hide();
					}else{
					$('#zeitsteuerung').show();
					}
				});
				$('.xyz').change(function(){
				if($('#pruefung').is(':checked')){
				$('#starteAufgabe').text('Aufgabe als Prüfung bereitstellen');
				$('#starteAufgabe').css("background-color", 'red');
				}if($('#uebung').is(':checked')){
				$('#starteAufgabe').text('Aufgabe als Übung bereitstellen');
				$('#starteAufgabe').css("background-color", 'green');
				}
				//$('#xbuttonx').text('Was anderes');
				})
				$('#fach').change(function(){
				var selectedFach = $(this).children('option:selected').val();
				location.href='/savefach?'+'Fach='+selectedFach;
				});
