extends ./base

html
	head
		title= title

block content
	form(action="/saveconfigdata" method="POST")
		table
			tr
				td
					h3 Aktive Klasse:
					td
						select(name="klasse")
							- for (var k in alleKlassen)
									if alleKlassen[k] == aktKl
										option(value=alleKlassen[k] selected)
											=alleKlassen[k]
									else
										option(value=alleKlassen[k])
											=alleKlassen[k]
			tr
				td
					h3 Aktive Aufgabe:
				td
					select(name="aufgabe")
						- for (var i in alleAufgaben)
								if alleAufgaben[i].aufgabe.path + alleAufgaben[i].aufgabe.filename == aktAufg
									option(value=alleAufgaben[i].aufgabe.path + alleAufgaben[i].aufgabe.filename selected name="aufgabe")
										=alleAufgaben[i].aufgabe.title
								else
									option(value=alleAufgaben[i].aufgabe.path + alleAufgaben[i].aufgabe.filename name="aufgabe")
										=alleAufgaben[i].aufgabe.title
		input(type="submit" class="button large expanded" value="Aufgabe für Klasse bereitstellen")
