extends ./base

html
	head
		title= title

block content
	hr
	h2 Notenbuch Klasse: #{KL}&nbsp;&nbsp; Fach: #{F}
	hr
	table-scroll
		table
			thead
				tr
					th
						each aufg in AUFG
							th=aufg
			tbody
				- for(let i in schueler)
					tr
						td=schueler[i].local.lastname + ', '+schueler[i].local.firstname
						- for(var x in AUFG)
							- for(var y in NOTEN)
								- console.log('y: '+y)
								- console.log('x: '+x)
								- console.log('i: '+i)
								- console.log(schueler[i].local.username)
								- console.log(NOTEN[y].antworten.user)
								- console.log(NOTEN[y].antworten.Aufgaben_ID)
								- console.log(AUFG[x])
									if schueler[i].local.username === NOTEN[y].antworten.user && AUFG[x] === NOTEN[y].antworten.Aufgaben_ID
										td(align='center')=NOTEN[y].antworten.Note
									else if schueler[i].local.username !== NOTEN[y].antworten.user || AUFG[x] !== NOTEN[y].antworten.Aufgaben_ID
										td
	a(href='\admin_start' class='button secondary expanded') Hauptmen&uuml;
	a(href='/logout' class='button expanded warning') Ausloggen
