extends ./base

html
	head
		title= title

block content
	div(id='antw' style='display:none') #{NOTEN}
	hr
	h2 Notenbuch Klasse: #{KL}&nbsp;&nbsp; Fach: #{F}
	hr
	table-scroll
		table
			thead
				tr
					th
					th
						each aufg in AUFG
							th=aufg
			tbody
				- for(let i in schueler)
					tr
						td=parseInt(i)+1
						td=schueler[i].local.lastname + ', '+schueler[i].local.firstname
						- for(var x in AUFG)
							td(align='center' id='#{schueler[i].local.username}_#{AUFG[x]}')
	a(href='\admin_start' class='button secondary expanded') Startmen&uuml; - Administrator
	a(href='/logout' class='button expanded warning') Ausloggen


		script.
			var noten = $('#antw').html();
			var json_noten = JSON.parse(noten);
			//console.log(json_noten);
			for(let i = 0;i<json_noten.length;i++){
			let id = json_noten[i].antworten.user + '_' + json_noten[i].antworten.Aufgaben_ID;
			//console.log(id);
			//$('#'+id).html(json_noten[i].antworten.Note);
			$('#'+id).append(json_noten[i].antworten.Note);
			}
