extends ./base

html
	head
		title : title
		block extrajs
			script(src='aufgabentypen/add1.js')

block content
	h1.text-center Userseite
	p Benutzername:  #{user}
	p Funktion:  #{role}
	p Name: #{firstname} #{lastname}
	p UserID: #{UID}
	p Session: #{Session.passport.user}
	a(href='/lk' class='button large expanded') Start
	a(href='/ons' class='button large expanded') Onsen Start
	a(href='/logout' class='button large expanded') Ausloggen
	p #{aufgaben}
