extends ./base

html
	head
		title : title

block content
	div.log-in-form
		h1.text-center Hallo, #{firstname} #{lastname} !
			//p Willkommen  #{user}
			//p Funktion:  #{role}
			//p Willkommen #{firstname} #{lastname} !
			//p UserID: #{UID}
			//p Session: #{Session.passport.user}
		a(href='/aufgabe_loesen' class='button large expanded') Los geht's
		a(href='/logout' class='button large expanded') Ausloggen
			//p #{aufgaben}
